
.work-wrapper {
  width: 100%;
  min-height: 100%;
  position: absolute;
	/* background-image: url(./../../assets/images/desktop/work-background.jpg);
  background-size: cover; */
  background-color: #9657f0;
}

.work-wrapper-padding{
  padding: 18vh 5vw 5vh 4.5vw;
  /* height: 70%; */
}

.work-container {
  z-index: 2;
}

.work-title, .work-sub-title, .work-footer-title {
  color: #ffda43;
}

.project_title {
  display: none;
}

.project-title {
  font-size: 8.5vw;
  font-weight: 700;
  color: #fffade;
}

.work-project {
  text-align: center;
  width: 100%;
  height: 100%;
}

.work-project:first-child {
  margin-top: 11vw;
}

.work-project-content:last-child {
  margin-bottom: 11vw;
}

.work-project-content {
  pointer-events: none;
  padding: 3.25rem 3.3vw;
  position: relative;
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: auto;
  height: auto;
  margin-top: -30px;
  transform-origin: center center;
  will-change: transform;
}

.work-container .work-project .project-thumb {
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(3rem);
  transition: 0.4s cubic-bezier(0.52, 0.01, 0.16, 1);
}

.project-thumb {
  margin: 0 auto;
}

.project-thumb {
  background-size: contain;
  width: 100%;
  height: 100%;
}

.project-thumb .project-thumb-image {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.project-thumb-image {
  height: 386px;
}

.work-container .work-project .project-thumb:hover {
  opacity: 1;
}

.work-project-content .work-project-link:hover + .project-thumb {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) translateY(0);
  transition: 0.42s cubic-bezier(0.52, 0.01, 0.16, 1) .01s;
}


.work-project-content .work-project-link {
    display: inline-block;
    opacity: 1;
    pointer-events: all;
    transition: 0.62s opacity cubic-bezier(0.52, 0.01, 0.16, 1) .01s;
  }
  
  
  /* Para quando fizer hover num el, o outros ficarem opacity

  .work-projects-scroll .work-project-content .work-project-link {
    opacity: .2;
    transition: 0.5s cubic-bezier(0.52, 0.01, 0.16, 1);
  }
  */
  
  .work-projects-scroll .work-project-content .work-project-link:hover, .work-project-content .work-project-link:hover{
    opacity: 1;
  }

@media screen and (min-width: 1801px) {
  .work-wrapper-padding {
    padding: 14vw 15% 5vh 15%;
  }
  
  .work-project:first-child {
    margin-top: 5vw;
  }
  
  .work-project-content:last-child {
    margin-bottom: 5vw;
  }
  
}

@media (max-width: 1024px){
  .project-thumb {
      display: none;
  }
}

@media screen and (max-width: 768px) {
  .work-wrapper-padding {
    padding: 16vh 5vw 5vh 6.5vw;
    /* height: 70%; */
  }

  .work-project-content:first-child {
    margin-top: -7%;
  }

  .work-project-content:last-child {
    margin-bottom: 1%;
  }

  h2.work-sub-title {
    font-size: 3vw;
  }
}

@media screen and (max-width: 700px) {
.work-project-content {
    padding: 2rem 30px;
  }
}

@media screen and (max-width: 500px) {
    .project-title {
      font-size: 40px;
    }
  }