
.hero-container {
  display: block;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
	background-image: url(./../../assets/images/desktop/hero-background.jpg);
  background-size: cover;
}

.hero-container-padding {
  padding: 5rem;
  /* -webkit-transition: 0.75s cubic-bezier(0.52, 0.01, 0.16, 1) 0.5s;
  -moz-transition: 0.75s cubic-bezier(0.52, 0.01, 0.16, 1) 0.5s;
  transition: 0.75s cubic-bezier(0.52, 0.01, 0.16, 1) 0.5s;  */
}

h1 {
  margin: 0 0;
  font-size: 45px;
  color: black;
}

h2{
  color: black;
}

h1, h2, a, span {
  -webkit-transition: 0.2s cubic-bezier(0.52, 0.01, 0.16, 1) 0.3s;
  -moz-transition: 0.2s cubic-bezier(0.52, 0.01, 0.16, 1) 0.3s;
  transition: 0.2s cubic-bezier(0.52, 0.01, 0.16, 1) 0.3s;
}

a {
  color: black;
  text-decoration: none;
}

/*.dynamic-words {
    text-shadow: 1px 1px 1px #ffd42d,
        1px 1px 1px #ffd42d,
        1px 1px 1px #ffd42d,
        1px 1px 1px #ffd42d,
        1px 1px 1px #ffd42d,
        1px 1px 1px #ffd42d,
        1px 1px 1px #ffd42d,
        1px 1px 1px #ffd42d,
        1px 1px 1px #ffd42d,
        1px 1px 1px #ffd42d,
    1px 1px 1px rgba(16,16,16,0.4),
    1px 1px 1px rgba(16,16,16,0.2),
    1px 1px 1px rgba(16,16,16,0.2),
    1px 1px 1px rgba(16,16,16,0.4);
}*/

@media screen and (max-width: 768px) {

  .hero-container-padding {
    padding: 8%;
  }

  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 3.5vw;
  }
    
}

@media screen and (max-width: 591px) {

  .hero-container-padding {
    margin-left: 1%;
  }

  h1 {
    font-size: 6.2vw;
  }

  h2 {
    font-size: 4.5vw;
  }
}

@media screen and (max-width: 478px) {

  h1 {
    font-size: 7.5vw;
  }

  h2 {
    font-size: 4.8vw;
  }

}
