.first-section-container {
  width: 100%;
  height: 90vh;
}

.first-section-text > *, .first-section-first-word-wrapper > * {
  color: #fffade;
}

.first-section-first-word-wrapper {
  display: flex;
  margin-bottom: -4vw;
}

.first-section-first-word-parenthesis-wrapper {
  width: 40%;
  display: contents;
}

.first-section-first-word-parenthesis {
  margin: 0;
  font-size: 8vw;
  color: #ffd42d;
}

.first-section-first-word-parenthesis-text {
  margin: 0;
  font-size: 1vw;
  position: relative;
  text-align: center;
  top: 2vw;
}

.first-section-container {
  /* width: 100%;
  height: 100vh; */
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start; */
}

.first-section-text {
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start; */
  width: 50%;
}

.first-section-first-word, .first-section-second-word, .first-section-third-word, .first-section-fourth-word {
  font-size: 8vw;
  font-weight: 200;
  margin-top: 0px;
  margin-bottom:  -4vw;
  padding: 0
}

.first-section-first-word {
  padding-left: 3vw;
}

.first-section-second-word {
  padding-left: 11vw;
}

.first-section-third-word {
  position: relative;
}

.first-section-fourth-word {
  padding-left: 1vw;
}

.first-section-title-wrapper {}

.first-section-title {
  font-size: 45px;
  color: #4bdcd7;
}

.first-section-composing {
  font-size: 25px;
  font-weight: 400;
}

.first-section-gif-wrapper {
  height: 10vw;
  position: absolute;
  right: 5.5%;
  top: -33%;
}

.first-section-gif {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1801px) {

  .first-section-first-word-parenthesis {
    font-size: 7vw;
  }

  .first-section-first-word-parenthesis-text {
    font-size: 0.8vw;
  }

  .first-section-text {
    width: 58%;
  }

  .first-section-title {
    font-size: 3vw;
  }

  .first-section-composing {
    font-size: 1.6vw;
  }

  .first-section-first-word, .first-section-second-word, .first-section-third-word, .first-section-fourth-word {
    font-size: 7.1vw;
  }

  .first-section-gif-wrapper {
    height: 9vw;
  }

}

@media screen and (max-width: 1500px) {
  .first-section-title {
    font-size: 45px;
  }

  .first-section-composing {
    /* font-size: 22px; */
  }
}

@media screen and (max-width: 1200px) {
  .first-section-first-word-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .first-section-first-word {
    margin-bottom: -2vw;
  }
  
  .first-section-first-word-parenthesis-wrapper {
    width: 57%;
    display: flex;
    padding-left: 3vw;
  }
}

@media screen and (max-width: 1100px) {

  .first-section-first-word, .first-section-second-word, .first-section-third-word, .first-section-fourth-word {
    font-size: 10vw;
  }

  .first-section-gif-wrapper {
    height: 10.5vw;
    right: -16.5%;
    top: -27%;
  }
}

@media screen and (max-width: 992px) {
  .first-section-first-word-parenthesis-wrapper {
    padding-left: 6vw;
  }
}

@media screen and (max-width: 769px) {

  .first-section-text {
    width: 100%;
  }
  
  .first-section-first-word-parenthesis-wrapper {
    padding-left: 0;
    width: 365px;
    align-items: center;
    position: relative;
    margin: 0 auto;
  }

  .first-section-first-word-parenthesis {
    font-size: 100px;
  }
  
  .first-section-first-word-parenthesis-text {
    font-size: 13px;
    top: 0;
  }
  
  .first-section-first-word, .first-section-second-word, .first-section-third-word, .first-section-fourth-word {
    font-size: 15vw;
  }

  .first-section-first-word {
    margin-bottom: 0;
    padding-left: 0;
  }

  .first-section-third-word {
    padding-left: 5vw;
  }

  .first-section-fourth-word {
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .first-section-gif-wrapper {
    height: 12vh;
    right: 30vw;
    top: 70vw;
    z-index: 0;
  }
}

@media screen and (max-width: 591px) {
  .first-section-title {
    font-size: 7.2vw;
  }

  .first-section-composing {
    font-size: 3.6vw;
  }

  .first-section-gif-wrapper {
    right: 19vw;
    top: 73vw;
  }
}

@media screen and (max-width: 478px) {
  .first-section-title {
    font-size: 7.5vw;
  }

  .first-section-composing {
    font-size: 3.7vw;
  }

  .first-section-first-word-parenthesis-wrapper {
    width: 332px;
  }

  .first-section-gif-wrapper {
    right: 14vw;
    top: 75vw;
  }
}

@media screen and (max-width: 390px) {
  .first-section-gif-wrapper {
    right: 7vw;
    top: 78vw;
  }
}

@media screen and (max-width: 415px) and (min-height: 667px) and (max-height: 900px) {
  .first-section-container {
    height: 78vh;
  }
}