main.playground-wrapper{
  display: block;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
	background-image: url(./../../assets/images/desktop/playground-background.jpg);
  background-size: cover;
}

main.playground-wrapper-clicked {
  display: block;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
	background-image: url(./../../assets/images/desktop/playground-background.jpg);
  background-size: cover;
  transform: scale(1)!important;
}

.playground-wrapper-padding{
  padding: 5vw;
}

.playground-container {
  z-index: 2;
}

.playground-title, .playground-sub-title, .playground-footer-title {
  color: #fff55a;
}

.project_title {
  display: none;
}

@media screen and (min-width: 1801px) {
  .playground-wrapper-padding {
    padding: 5% 15% 5% 15%;
  } 
}

@media screen and (max-width: 591px) {

  h1.playground-title {
    font-size: 7.2vw;
  }
}

@media screen and (max-width: 478px) {

  h1.playground-title {
    font-size: 7.5vw;
  }
}