.not-found-wrapper{
  display: block;
  min-height: 100%;
  width: 100%;
  height: auto;
  position: absolute;
	background-color: #1544c0;
}

.not-found-wrapper-padding{
  padding: 10rem;
}

.error-title > * {
  color: white;
  text-align: center;
}

.error-title{
  /* margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.error-title-code{
  font-size: 20vw;
}

.button-wrapper-not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  text-align: center;
  margin: auto;
}

@media screen and (max-width: 1000px) {

  .not-found-wrapper-padding {
    padding: 15% 8%;
  }

  .button-wrapper-not-found {
    width: 23%;
  }
    
}

@media screen and (max-width: 800px) {

  .not-found-wrapper-padding {
    padding: 10%;
  }

  .button-wrapper-not-found {
    width: 33%;
  }
    
}

@media screen and (max-width: 591px) {

  .not-found-wrapper-padding {
    padding: 20% 8%;
  }
}

@media screen and (max-width: 491px) {

  .not-found-wrapper-padding {
    padding: 50% 1%;
  }
}
