.who-link {
  padding-bottom: 2vw;
  transition: all 250ms ease-in-out;
  max-width: 100%;
  display: inline-block;
  position: absolute;
  right: 5vw;
}

.who-link:hover {
  padding-top: 2vw;
  padding-bottom: 0;
}

.who-arrow {
  height: 7vw;
  max-width: 100%;
}